@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.nav-links {
  width: 100%;
  background-color: #dab360;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0 5px;
  border-right: 1px solid #ffffff;
  color: #242424;
}

.nav-links .links-left {
  border: none;
  border-left: 1px solid #ffffff;
}

.logo {
  color: #000000;
  text-align: center;
  padding: 15px 50px;
}

.logo h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo p {
  font-family: 'Yellowtail', cursive;
  font-size: 1.1rem;
}

@media screen and (max-width: 700px) {
  nav {
    position: relative;
    background: #dab360;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .burger {
    position: absolute;
    cursor: pointer;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    z-index: 2;
    margin: 0 5px;
  }
  .line {
    height: 4px;
    width: 25px;
    background-color: #ffffff;
    margin: 5px;
  }
  .nav-links {
    position: fixed;
    background-color: #dab360;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(100px at 100% -20%);
    -webkit-clip-path: circle(100px at 100% -20%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 100% -20%);
    -webkit-clip-path: circle(1000px at 100% -20%);
    pointer-events: all;
  }
}

#home {
  min-height: 60vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url(../media/Livingroom.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.title {
  font-family: Montserrat;
  font-size: 3rem;
  margin: 0 150px;
  font-weight: 300;
}

.title b {
  font-family: 'Yellowtail', cursive;
  font-size: 4rem;
  font-weight: 100;
}

@media screen and (max-width: 660px) {
  #home {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .title {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .title b {
    font-size: 2.5rem;
  }
}

#about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-about {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-about img {
  width: 50%;
}

.information-about {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information {
  margin: 100px 0;
  width: 80%;
}

.information-about h2 {
  font-size: 2.5rem;
  font-family: 'Yellowtail', cursive;
  font-weight: 300;
  margin: 20px 0;
}

.information-about h4 {
  font-size: 1.3rem;
  font-family: Montserrat;
  font-weight: 500;
  color: #be9885;
  margin-bottom: 15px;
}

.information-about p {
  font-size: 0.9rem;
  font-family: Montserrat;
  font-weight: 500;
  text-align: justify;
  margin: 10px 0;
}

@media screen and (max-width: 850px) {
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image-about {
    display: none;
  }
  .information {
    margin: 50px;
  }
  .information-about {
    width: 100%;
    padding: 0;
  }
  .information-about {
    margin: 0;
  }
}

#coach {
  width: 100%;
  background-color: #dab360;
}

.title-coach {
  padding: 20px 0;
  width: 100%;
}

.title-coach h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  text-align: center;
}

.list-container {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
}

.list {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}

.list-item {
  font-size: 3rem;
  margin-right: 10px;
}

.list-item i {
  color: #ffffff;
}

.list-text {
  font-family: Montserrat;
  font-size: 0.8rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: justify;
}

@media screen and (max-width: 750px) {
  .title-coach h2 {
    font-size: 1.3rem;
  }
  .list {
    width: 100%;
    margin: 10px;
  }
  .list-item {
    font-size: 2rem;
  }
}

#work {
  width: 100%;
  background: #ffffff;
}

.information-work {
  width: 70%;
  margin: 30px auto;
  text-align: center;
}

.information-work h4 {
  font-size: 1.65rem;
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #be9885;
}

.information-work p {
  font-size: 0.83rem;
  font-family: Montserrat;
  text-align: center;
  margin: 10px 0;
}

.work-service {
  width: 70%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.service {
  height: 45vh;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #283046;
}

.service p {
  font-size: 1.8rem;
  font-family: 'Dancing Script', cursive;
  color: #dab360;
}

.service h2 {
  font-size: 2rem;
  font-family: Montserrat;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

.service button {
  border: none;
  padding: 10px 50px;
  font-size: 1rem;
  font-family: Montserrat;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #be9885;
  cursor: pointer;
  outline: none;
  margin: 30px 0;
}

@media screen and (max-width: 715px) {
  .work-service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .service {
    height: 25vh;
    width: 90%;
    margin: 15px 0;
  }
  .service p {
    font-size: 1rem;
  }
  .service h2 {
    font-size: 1rem;
  }
  .service button {
    margin: 10px 0;
    padding: 5px 15px;
    font-size: 0.6rem;
  }
}

#call {
  width: 100%;
  background: #283046;
}

#call .information-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
  padding: 50px 0;
}

.information-container p {
  font-size: 3.5rem;
  font-family: 'Dancing Script', cursive;
  color: #ffffff;
}

/* .information-container i{
    font-size: 3rem;
    font-weight: 100;
    color: #be9885;
} */
.information-container button {
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-family: Montserrat;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #be9885;
  cursor: pointer;
  outline: none;
  margin: 30px 0;
}

@media screen and (max-width: 700px) {
  .information-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0px;
  }
  .information-container p {
    font-size: 2rem;
  }
  .information-container button {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 20px 0;
  }
}

#sarah {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.picture-sarah {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #242424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-sarah {
  min-height: 250px;
  min-width: 250px;
  background-color: #ffffff;
  border-radius: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  background: url(../media/Woman.jpg);
  background-size: cover;
  background-position: center;
}

.container-sarah:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.information-sarah {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information-sarah h1 {
  font-size: 2.5rem;
  font-family: 'Dancing Script', cursive;
  background-color: #dab360;
  text-align: center;
  padding: 5px 10px;
}

.information-sarah p {
  font-size: 1rem;
  font-family: Montserrat;
  text-align: justify;
  margin: 25px 0;
}

@media screen and (max-width: 630px) {
  #sarah {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .picture-sarah {
    padding: 10px 0;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background: #dab360;
  padding: 20px 0px 0px 0px;
}

footer > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
}

.follow, .brand, .join, .rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-footer p {
  font-size: 1.5rem;
  font-family: 'Dancing Script', cursive;
  color: #242424;
  margin: 10px 0;
}

.media {
  width: 80%;
  font-size: 1.3rem;
  border: 2px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0;
}

.media a {
  color: #242424;
}

.brand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.brand-links {
  list-style: none;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 600;
}

.brand-links li {
  margin: 20px 0;
}

.brand-links a {
  text-decoration: none;
  color: #283046;
}

.community {
  width: 80%;
  border: 2px solid #ffffff;
  text-align: center;
  font-family: Montserrat;
  padding: 10px 0;
}

.community h1 {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.community p {
  margin: 5px 0;
  font-size: 0.8rem;
  color: #283046;
  font-weight: 500;
}

.community button {
  border: none;
  padding: 8px 35px;
  font-size: 0.8rem;
  font-family: Montserrat;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  background: #283046;
}

.rights {
  font-size: 0.8rem;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin: 20px 0;
}

.rights a {
  text-decoration: none;
  color: #283046;
  font-weight: 600;
}

@media screen and (max-width: 740px) {
  footer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .media {
    width: 100%;
  }
  .brand {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
  .community {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */